{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $latest := first 1 $pages }}
    {{ range $latest }}
        <article class="post-full">
            <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
            <div class="post-meta">
                <span>{{ .Date.Format "January 2, 2006" }}</span>
            </div>
            <div class="post-content">
                {{ .Content }}
            </div>
        </article>
    {{ end }}

    <div class="post-list">
        {{ $other_posts := after 1 $pages }}
        {{ range $other_posts }}
            {{ partial "post_list_item.html" (dict "context" . "showDate" true "showTags" false) }}
        {{ end }}
    </div>
{{ end }}