<div class="tags">
    <h3>Tags</h3>
    <div class="tags-container">
        {{ $currentTags := slice }}
        {{ if .Page.Params.tags }}
            {{ $currentTags = .Page.Params.tags }}
        {{ end }}
        {{ range .Site.Taxonomies.tags.ByCount }}
            <div class="tag-items">
                <a href="{{ .Page.Permalink }}" class="post-tag{{ if in $currentTags .Page.Title }} active{{ end }}">
                    {{ .Page.Title }} 
                    <!-- <span class="tag-count">({{ .Count }})</span> -->
                </a>
            </div> 
        {{ end }}
    </div>
</div>