<div class="tags">
    <h3>Tags</h3>
    <div class="tags-container">
        {{ $pageTags := slice }}
        {{ if eq .Kind "page" }} 
            {{/* For posts */}}
            {{ $pageTags = .Params.tags }}
        {{ else if eq .Kind "term" }}
            {{/* For Term IE Tags pages */}}
            {{ $pageTags = slice .Title }}
        {{ end }}
    
        <div class="post-tags">
            {{ range .Site.Taxonomies.tags.ByCount }}
                <a href="{{ .Page.Permalink }}" class="post-tag{{ if in $pageTags .Page.Title }} active{{ end }}">
                    {{ .Page.Title }}
                </a>
            {{ end }}
        </div>
    </div>
</div>